.post {
  display: grid;
  background-color: #222;
  border-radius: 15px;
  margin: 0px;
  padding: 20px;
  width: 100%;
  gap: 5px;
  font-size: .8em;
  box-sizing: border-box;
  grid-template-areas:
    "username username username username"
    "body body body body"
    "date date date date"
    "interact interact interact interact";
}

.post-username {
  grid-area: username;
  padding: 0px;
  margin: 0px;
  font-size: 1.5em;
  font-weight: bold;
}

.post-body {
  grid-area: body;
  font-size: 1.1em;
  padding: 0px;
  margin: 0px;
  /* margin-bottom: 10px; */
}

.post-date {
  grid-area: date;
  color: #aaa;
  padding: 0px;
  margin: 0px;
}

.post-interactions {
  grid-area: interact;
  display: inline-flex;
  flex-direction: row;
  gap: 5px;
}

.post-interact {
  padding: 5px;
  border-radius: 3px;
  text-decoration: none;
}

.post-interact:hover {
  background-color: #333;
}
